body {
  background-color: #FC516C;
  color: #fefefe;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-github, .icon-heart, .icon-lovers, .icon-twitter, .icon-quill, .icon-fork {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-github:before {
  content: "\e000";
}
.icon-heart:before {
  content: "\e001";
}
.icon-lovers:before {
  content: "\e002";
}
.icon-twitter:before {
  content: "\e003";
}
.icon-quill:before {
  content: "\e004";
}
.icon-fork:before {
  content: "\e005";
}
.mini-heart:after {
  content: url(../images/heart-mini.gif);

}
a {
  color: #AF273C;
}
img {
  max-width: 100%;
}
.wrap {
  max-width: 60em;
  margin: 0 auto;
}
.header-main {
  text-align: center;
  padding: 2em 1em;
}
.giant-icon {
  display: block;
  font-size: 5em;
}
.results-list {
  list-style: none;
  margin: 0;
  padding: 0;

}
.result {
  display: block;
  width: 90%;
  padding: 2em;
  margin: 0 auto 4em;
  background-color: #fff;
  color: #999;
  border-radius: .2em;
}
.repo-name {
  font-weight: 300;
  margin: 0 0 .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #DDD;
  width: 100%;

}
.repo-name > a {
  text-decoration: none;
}
.date ,
.label {
  display: block;
  font-style: italic;
  font-size: .8em;
  color: #AAA;
}
input[type="text"] {
  width: 100%;
font-size: .8em;
border: 1px solid #DDD;
padding: .4em;
color: #999;
}
.contact {
  padding-left: 1em;
}
@media all and (min-width: 600px) {
  .comments {
    width: 66%;
    float: left;
    padding-right: 1em;
  }
  .actions {
    width: 33%;
    float: right;
    padding-left: 1em;
      border-left: 1px solid #DDD;
  }
}



.footer-main {
  border-top: 1px solid #AF273C;
  padding: 2em 0 4em;
}
.footer-main a{
  color: #fff;
}

/*Ribbon - https://github.com/simonwhitaker/github-fork-ribbon-css/ */
.github-fork-ribbon {
  position: absolute;
  padding: 2px 0;
  background-color: #AF273C;
  -webkit-box-shadow: 0px 2px 0 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 0 0px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  font-size: .8em;
  font-weight: 600;
  color: white;
 text-decoration: none;
  text-align: center;
  width: 200px;
  line-height: 20px;
  display: inline-block;
  padding: 2px 0;
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}