<div class="social">
	<a href="https://twitter.com/LonelyGithub" class="twitter-follow-button" data-show-count="false">Follow @LonelyGithub</a>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="LonelyHearts">Tweet</a>
	<iframe src="http://ghbtns.com/github-btn.html?user=matthewbeta&repo=lonelyhearts&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
</div>